.bg {
    object-fit: cover;
    object-position: center center;
}
.man {
    top: 0 !important;
    left: 25% !important;
}
.btn {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 1.5em;
    background-color: #f8f8ffe0;
}
h2 {
    font-size: 100px !important;
    font-weight: 500 !important;
}
